.latest__news{
   
    background-color: #10151C;
    height: max-content;
    padding: 50px;
}
.latest__news >h4{
    
    color: #CFD1D3;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.read__more a{
    color: #CFD1D3;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
}
.read__more a:hover{
    color:white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
}
.read__more a:hover::after{
     content: '--->';
     padding-left: 10px;
     color: red;
}
