
.matches{
    background-color:#10151C;
     padding-top: 20px;
}
.matches h2{
    color:#fcfcfc;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
   font-family: Rajdhani Semibold;
      opacity: 0.8;
}