.head {
    display: flex;
    background-color: #10151C;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 1px;
}
.head h4 {
    color: #cfd1d3;
    font-family: EuclidMedium;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.head a {
        color: #6eb4ef;
    font-size: 14px;
}
.head a:after {
    content:'>';
    color: #6eb4ef;
    font-size: 14px;
    padding-left: 5px;
}